.place__image {
    width: 460px;
    height: 460px; 
    align-self: start;
}

@media screen and (max-width: 1030px) {
    .place__image {
        width: 440px;
        height: 440px; 
    }
}

@media screen and (max-width: 780px) {
    .place__image {
        width: 340px;
        height: 340px; 
    }
}

@media screen and (max-width: 550px) {
    .place__image {
        width: 320px;
        height: 320px; 
    }
}