.intro__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 162%;
    margin: 40px 0 32px;
    max-width: 690px;
}

@media screen and (max-width: 780px) {
    .intro__text {
        max-width: 720px;
    }
 }

 @media screen and (max-width: 550px) {
    .intro__text {
        max-width: 288px;
    }
 }