@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__span-accent/intro__span-accent.css);

.intro {
    color: #FFFFFF;
    max-width: 984px;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1030px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 780px) {
    .intro {
        max-width: 720px;
    }
}

@media screen and (max-width: 550px) {
    .intro {
        max-width: 288px;
        
    }
}