.header__lang-links {
    display: flex;
    margin-bottom: 6px;  
    align-items: flex-end;
}

@media screen and (max-width: 550px) {
    .header__lang-links {
        margin-bottom: 4px;    
    }
}