.place__website {
    max-width: 456px;
    
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 780px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 550px) {
    .place__website {
        display: none;
    }
}